/* Reset */
body, p, ul{
  margin: unset;
  padding: unset;
}

h1, h2, h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

a{
  color: unset;
  text-decoration: unset;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

/* Layouts */
.l_wrapper {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Typography */
:root {
  font-family: arial;
}

/* Components */
body {
  color: #999;
  background-color: #111;
}

.contents {
  background-color: #000;
}

/* header 부분 */
.header{
  background-color: #111111;
}
.header-container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  width: 200px;
}
.description{
  display: flex;
  align-items: center;
}
.description::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 64px;
  background-color: currentColor;
  margin: 0 20px 0 30px;
}
.anger{
  width: 140px;
  margin-left: auto;
  margin-top: auto;
}

/* main 부분 */
.contents {
  padding: 24px 0;
}
.main-container{
  display: flex;
  gap: 24px;
  align-items: normal;
}
.movie_list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 0;
  flex-shrink: 0;
}
.movie {
  background-color: #222222;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
}
.movie img {
  width: 100%;
}
.movie h2 {
  font-weight: bold;
  color: #EBB3BB;
  margin: 20px;
}
.movie p {
  font-size: 12px;
  margin: 12px 20px;
  flex-grow: 1;
}
.button{
  width: 300px;
  line-height: 48px;
  letter-spacing: 0.2em;
  margin: 20px auto;
  margin-top: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #111111;
  color: #FF0000;
  font-size: 12px;
  font-weight: bold;
}


.sidebar{
  background-color: #111111;
  width: 168px;
  height: 310px;
  border-radius: 12px;
}
.category h2{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.category h2::before{
  content: ' ';
  width: 30px;
  height: 30px;
  background-size: contain;
  flex-shrink: 0;
  background-image: url(./images/icon.png);
}
.category-item{ 
  /* 직계 자손만 적용 '>' */
  border-top: 1px solid #FA8073;
}
.category-item h3 {
  color: #FA8073;
  padding: 8px 10px;
  font-size: 14px;
}
.category-sub {
  font-size: 12px;
  margin-left: 20px;
  padding: 10px 0;
}
.category-sub li {
  padding: 6px 0;
}
.category-sub li + li {
  border-top: 1px solid #333333;
}

/* footer 부분 */
.footer {
  background-color: #111111;
  padding-top: 30px;
}